body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:496px;
  display:flex;
  transition:none;
}
#u2252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:496px;
}
#u2252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2253 {
  position:absolute;
  left:14px;
  top:39px;
}
#u2253_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2253_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#342B80;
}
#u2254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2253_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2253_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u2255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2256 {
  position:absolute;
  left:20px;
  top:90px;
  visibility:hidden;
}
#u2256_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:80px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(238, 229, 178, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2258 {
  position:absolute;
  left:0px;
  top:40px;
}
#u2258_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C5C1DE;
}
#u2259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u2259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2258_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2258_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 198, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2256_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:80px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2256_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(238, 229, 178, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2262_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2262_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C5C1DE;
}
#u2263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u2263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2262_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2262_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 198, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2265 {
  position:absolute;
  left:14px;
  top:94px;
}
#u2265_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2265_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#342B80;
}
#u2266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2265_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2265_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u2267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2268 {
  position:absolute;
  left:20px;
  top:144px;
  visibility:hidden;
}
#u2268_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:80px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2268_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(238, 229, 178, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2270 {
  position:absolute;
  left:0px;
  top:40px;
}
#u2270_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2270_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C5C1DE;
}
#u2271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u2271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2270_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2270_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 198, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2268_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:80px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2268_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(238, 229, 178, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2274_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C5C1DE;
}
#u2275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u2275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2274_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2274_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 198, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2277 {
  position:absolute;
  left:14px;
  top:149px;
}
#u2277_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2277_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#342B80;
}
#u2278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2277_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2277_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u2279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2280 {
  position:absolute;
  left:20px;
  top:199px;
  visibility:hidden;
}
#u2280_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:80px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2280_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C5C1DE;
}
#u2281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u2281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:128px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C5C1DE;
}
#u2282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u2282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2283 {
  position:absolute;
  left:14px;
  top:281px;
}
#u2283_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2283_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u2284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2283_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2283_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#342B80;
}
#u2285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:271px;
  width:52px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:901px;
  height:430px;
}
#u2287_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:430px;
  overflow:hidden;
}
