body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:24px;
  width:256px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:74px;
  width:144px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u5680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:16px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:117px;
  width:1119px;
  height:126px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:16px;
}
#u5681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:259px;
  width:196px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u5682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:307px;
  width:1119px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:445px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:452px;
  width:85px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:470px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5686_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:59px;
  height:10px;
}
#u5686_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5686_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5686_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:440px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:470px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5688_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u5688_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5688_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5688_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:356px;
  width:85px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:440px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5690_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-49px;
  width:10px;
  height:54px;
}
#u5690_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u5690_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-57px;
  width:20px;
  height:20px;
}
#u5690_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:544px;
  width:85px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:500px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5692_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u5692_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u5692_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u5692_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:544px;
  width:85px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:562px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5694_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:107px;
  height:10px;
}
#u5694_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5694_seg2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5694_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:452px;
  width:85px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:470px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5696_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:132px;
  height:10px;
}
#u5696_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5696_seg2 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5696_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:462px;
  width:60px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5697 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5697_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:532px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:532px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5699_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-67px;
  width:10px;
  height:67px;
}
#u5699_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-67px;
  width:123px;
  height:10px;
}
#u5699_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u5699_seg3 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-72px;
  width:20px;
  height:20px;
}
#u5699_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-70px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:562px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5700_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:106px;
  height:10px;
}
#u5700_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5700_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:544px;
  width:85px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:562px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5702_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u5702_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5702_seg2 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5702_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:605px;
  width:1074px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:462px;
  width:60px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5704_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:374px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5705_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:183px;
  height:10px;
}
#u5705_seg1 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:-5px;
  width:10px;
  height:83px;
}
#u5705_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5705_seg3 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:66px;
  width:20px;
  height:20px;
}
#u5705_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:719px;
  width:1119px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:745px;
  width:1074px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5707 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:820px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
